body {
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   min-width: 320px;
   min-height: 100vh;
   font-style: normal;
   font-weight: 400;
}

a {
   text-decoration: none;
}

a,
button,
svg,
path {
   transition: .2s;
}