body {
   display: flex;
   flex-direction: column;
   min-width: 300px;
   min-height: 100vh;
   color: $color-primary;
   font-family: $font-primary;
}

a {
   text-decoration: none;
}

a,
button,
input,
svg,
path {
   transition: .2s;
}