body {
   display: flex;
   flex-direction: column;
   min-width: 300px;
   min-height: 100vh;
   font-family: sans-serif;
}

a {
   text-decoration: none;
}

a,
button,
input,
svg,
path {
   transition: .2s;
}