// fonts

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
$font-decorative: 'MV Boli', cursive;

// colors

$color-primary: #585967;
$color-secondary: #07040C;
$color-accent: #F35A05;