.benefits-item {
   width: 100%;
   max-width: 224px;

   &__icon {
      margin: 0 0 10px;
   }

   &__title {
      margin: 0 0 15px;
      color: #07040C;
      font-size: 24px;
      font-family: Ubuntu;
      font-weight: 700;
      line-height: 125%;
   }

   &__text {
      color: #585967;
      font-size: 16px;
      font-family: Inter;
      line-height: 145%;
   }
}