.modal-item {
   padding: 0;
   max-width: 440px;
   border-radius: 15px;
   box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, .15);

   &__title {
      margin: 0 0 40px;
      padding: 30px 30px 25px;
      color: #07040C;
      font-family: Ubuntu;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 1px solid #E2E3EF;
   }

   &__form {
      padding: 0 30px 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
   }

   &__form-field {}

   &__btn {}

   &__btn-light {
      align-self: center;
   }
}