.reviews {
   margin: 0 0 130px;

   &__top {
      margin: 0 0 50px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }

   &__title {}

   &__slider {
      overflow: hidden;
      margin: -25px;
      padding: 25px;

      // swiper

      .swiper-slide {
         height: auto;
      }
   }

   &__bottom {
      margin: 50px 0 0;
      text-align: center;
   }

   &__btn {}
}