.reviews-item {
   display: flex;
   gap: 10px;
   height: 100%;

   &__author {
      flex-shrink: 0;
      width: 125px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__photo {
      margin: 0 0 15px;
      max-width: 90px;
      border-radius: 100%;
   }

   &__name {
      margin: 0 0 10px;
      color: #07040C;
      text-align: center;
      font-family: Inter;
      font-size: 20px;
   }

   &__job {
      color: #585967;
      text-align: center;
      font-family: Inter;
      font-size: 14px;
   }

   &__content {
      padding: 4px;
      border-radius: 15px;
      border-radius: 15px;
      box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.10);
   }

   &__inner {
      padding: 25px 25px 27px;
      height: 100%;
      border-radius: 15px;
      border: 1px dashed #E2E3EF;
   }

   &__title {
      position: relative;
      margin: 0 0 15px;
      padding: 0 0 0 25px;
      color: #07040C;
      font-family: Inter;
      font-size: 20px;
      font-weight: 700;

      &::before {
         content: '';
         position: absolute;
         top: -10px;
         left: 0;
         z-index: -1;
         width: 30px;
         height: 30px;
         background: url('../img/quotes.svg') no-repeat;
      }
   }

   &__text {
      color: #585967;
      font-family: Inter;
      font-size: 16px;
      line-height: 150%;
   }
}