.footer {
   margin: auto 0 0;
   padding: 70px 0 75px;
   background: #07040C;
   
   @media (max-width: 576px) {
      padding: 0;
   }
   
   a {
      
      &:hover {
         color: $color-accent;
      }
   }
   
   &__inner {
      display: flex;

      @media (max-width: 1300px) {
         flex-wrap: wrap;
         gap: 60px;
      }

      @media (max-width: 1024px) {
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
      }
      
      @media (max-width: 576px) {
         position: relative;
         padding: 30px 8px 120px;
         gap: 30px;
      }
   }

   &__col {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 220px;

      @media (max-width: 1300px) {
         width: 45%;
         min-width: auto;
      }

      @media (max-width: 1024px) {
         width: auto;
      }

      &:nth-child(1) {
         margin: 0 99px 0 0;

         @media (max-width: 1300px) {
            margin: 0;
         }
      }

      &:nth-child(2) {
         margin: 0 57px 0 0;

         @media (max-width: 1300px) {
            margin: 0;
         }
      }

      &:nth-child(3) {
         margin: 0 53px 0 0;

         @media (max-width: 1300px) {
            margin: 0;
         }
      }
   }

   &__copy {
      color: #CACBD7;
      font-size: 16px;
      font-family: $font-primary;
      line-height: 150%;
      
      @media (max-width: 576px) {
         position: absolute;
         right: 8px;
         bottom: 40px;
         left: 8px;
      }
   }

   &__title {
      margin: 0 0 20px;
      color: #CACBD7;
      font-size: 16px;
      font-family: $font-primary;
      line-height: 145%;
   }

   &__value {
      color: #FFF;
      font-size: 18px;
      font-family: $font-primary;
      line-height: 145%;

      &:not(:last-child) {
         margin: 0 0 10px;
      }
   }

   &__link {
      color: #CACBD7;
      font-size: 16px;
      font-family: $font-primary;
      line-height: 145%;

      &:not(:last-child) {
         margin: 0 0 15px;
      }
   }
}