.form-field {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;

   &__title {
      color: $color-primary;
      font-family: $font-secondary;
      font-size: 16px;
   }

   &__input {
      padding: 15px 14px;
      color: $color-secondary;
      font-family: $font-secondary;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #E2E3EF;
      background: #FFF;

      &:hover,
      &:focus {
         border-color: $color-accent;
      }

      &::placeholder {
         color: #808296;
      }
   }

   &__text {
      color: $color-primary;
      font-family: $font-secondary;
      font-size: 14px;
   }
}