.header-menu {
   display: flex;
   align-items: center;
   gap: 40px;

   @media (max-width: 1024px) {
      display: none;
   }

   &__link {
      color: #07040C;
      font-size: 14px;
      font-family: Ubuntu;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
         color: #F35A05;
      }
   }
}