.how-work {
   margin: 0 0 130px;

   @media (max-width: 576px) {
      margin: 0 0 90px;
   }

   @media (max-width: 377px) {
      margin: 0 0 60px;
   }

   &__title {
      margin: 0 0 15px;

      @media (max-width: 377px) {
         margin: 0 0 31px;
      }
   }

   &__descr {
      margin: 0 0 44px;
      color: $color-primary;
      text-align: center;
      font-size: 20px;
      font-family: $font-primary;
      line-height: normal;

      @media (max-width: 576px) {
         font-size: 16px;
      }

      @media (max-width: 377px) {
         display: none;
      }
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 1024px) {
         justify-content: center;
         gap: 26px;
      }

      @media (max-width: 377px) {
         flex-direction: column;
         justify-content: flex-start;
      }
   }
}