.know-how-item {
   position: relative;
   padding: 20px 20px 20px 56px;
   background: #FFF;
   border-radius: 15px;
   border: 1px dashed #E2E3EF;
   transition: .3s;

   @media (max-width: 576px) {
      padding: 15px 15px 15px 51px;
   }

   &:hover {
      box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
   }

   &__icon {
      position: absolute;
      top: 24px;
      left: 20px;
      max-width: 21px;
      
      @media (max-width: 576px) {
         top: 18px;
         left: 14px;
      }
   }

   &__title {
      margin: 0 0 15px;
      color: $color-secondary;
      font-size: 24px;
      font-family: $font-secondary;
      font-weight: 700;
      line-height: 125%;
      
      @media (max-width: 576px) {
         margin: 0 0 10px;
         font-size: 20px;
      }
   }

   &__text {
      color: $color-primary;
      font-size: 16px;
      font-family: $font-primary;
      line-height: 145%;

      @media (max-width: 576px) {
         font-size: 15px;
      }
   }

   &__list {}

   &__item {
      margin: 0 0 10px;
      color: $color-primary;
      font-size: 16px;
      font-family: $font-primary;
      line-height: 145%;
      
      @media (max-width: 576px) {
         margin: 0 0 7px;
      }
   }
}