.partners {
   margin: 0 0 120px;

   @media (max-width: 576px) {
      margin: 0 0 90px;
   }

   @media (max-width: 377px) {
      margin: 0 0 40px;
   }

   &__title {
      margin: 0 0 40px;

      @media (max-width: 377px) {
         margin: 0 0 20px;
      }
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 15px;

      @media (max-width: 1024px) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 30px;
      }

      @media (max-width: 377px) {
         gap: 15px;
      }
   }

   &__img {
      width: 100%;
      max-width: 620px;
      
      @media (max-width: 576px) {
         max-width: none;
      }
   }
}