.promo {
   margin: 95px 0 50px;
   padding: 30px 0 0;

   @media (max-width: 576px) {
      margin: 60px 0 30px;
      padding: 40px 0 0;
      text-align: center;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      gap: 15px;

      @media (max-width: 1024px) {
         flex-direction: column;
         align-items: center;
         gap: 25px;
      }
      
      @media (max-width: 576px) {
         align-items: center;
      }
   }

   &__left {
      padding: 70px 0 0;
      max-width: 614px;

      @media (max-width: 1024px) {
         padding: 0;
      }
   }

   &__title {
      margin: 0 0 30px;
      color: $color-secondary;
      font-size: 60px;
      font-family: $font-secondary;
      font-weight: 700;

      @media (max-width: 1024px) {
         text-align: center;
      }
      
      @media (max-width: 576px) {
         font-size: 42px;
      }

      @media (max-width: 377px) {
         margin: 0 0 16px;
         font-size: 32px;
      }
   }

   &__text {
      margin: 0 0 40px;
      max-width: 510px;
      color: $color-primary;
      font-size: 20px;
      font-family: $font-primary;
      line-height: 145%;

      @media (max-width: 1024px) {
         margin: 0 auto 40px;
         text-align: center;
      }

      @media (max-width: 576px) {
         margin: 0 0 30px;
      }
      
      @media (max-width: 377px) {
         margin: 0 0 14px;
         font-size: 16px;
      }
   }

   &__text-accent {
      color: $color-accent;
   }

   &__action {
      display: flex;
      align-items: center;
      gap: 30px;

      @media (max-width: 1024px) {
         justify-content: center;
      }

      @media (max-width: 576px) {
         flex-direction: column;
      }

      @media (max-width: 377px) {
         gap: 8px;
      }
   }

   &__btn {}

   &__action-text {
      max-width: 220px;
      color: #808296;
      font-size: 16px;
      font-family: $font-primary;
      line-height: 145%;

      @media (max-width: 377px) {
         max-width: 175px;
         font-size: 13px;
         text-align: center;
      }
   }

   &__smile {
      max-width: 18px;
      display: inline-block;

      @media (max-width: 377px) {
         max-width: 13px;
      }
   }

   &__right {
      flex-shrink: 0;
      max-width: 620px;
   }

   &__img {}
}