.reviews-item {
   display: flex;
   gap: 10px;
   height: 100%;

   @media (max-width: 576px) {
      flex-direction: column-reverse;
      gap: 20px;
      height: auto;
   }

   &__author {
      flex-shrink: 0;
      width: 125px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 576px) {
         flex-direction: row;
         gap: 10px;
         width: 100%;
      }
   }

   &__photo {
      margin: 0 0 15px;
      max-width: 90px;
      border-radius: 100%;

      @media (max-width: 576px) {
         margin: 0;
         max-width: 70px;
      }
   }

   &__name {
      margin: 0 0 10px;
      color: $color-secondary;
      text-align: center;
      font-family: $font-primary;
      font-size: 20px;

      @media (max-width: 576px) {
         text-align: left;
         font-size: 18px;
      }
   }

   &__job {
      color: $color-primary;
      text-align: center;
      font-family: $font-primary;
      font-size: 14px;

      @media (max-width: 576px) {
         text-align: left;
      }
   }

   &__content {
      position: relative;
      padding: 4px;
      border-radius: 15px;
      border-radius: 15px;
      box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.10);

      &::after {
         content: '';
         position: absolute;
         top: 30px;
         left: -10px;
         z-index: 2;
         width: 15px;
         height: 16px;
         background: url('../img/corner.svg') no-repeat center / cover;

         @media (max-width: 576px) {
            top: auto;
            bottom: -10px;
            left: 27px;
            transform: rotate(-90deg);
         }
      }
   }

   &__inner {
      padding: 25px 25px 27px;
      height: 100%;
      border-radius: 15px;
      border: 1px dashed #E2E3EF;

      @media (max-width: 576px) {
         padding: 20px 15px 10px;
      }
   }

   &__title {
      position: relative;
      margin: 0 0 15px;
      padding: 0 0 0 25px;
      color: $color-secondary;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 700;

      @media (max-width: 576px) {
         font-size: 18px;
      }

      &::before {
         content: '';
         position: absolute;
         top: -10px;
         left: 0;
         z-index: -1;
         width: 30px;
         height: 30px;
         background: url('../img/quotes.svg') no-repeat;
      }
   }

   &__text {
      color: $color-primary;
      font-family: $font-primary;
      font-size: 16px;
      line-height: 150%;

      @media (max-width: 576px) {
         font-size: 14px;
      }
   }
}